
		.grid_container_index
			display grid
			grid-gap 8px
			align-items: center
			set_size(100%, auto, 0)

			.text1
				set_position(1, 3, 1, 2)

			.text2
				set_position(1, 2, 2, 3)

			.img1
				set_position(2, 3, 2, 3)
			
			.video1
				set_position(1, 3, 3, 4)

			img
				set_size(100%, 0, 0)
			p
				set_size(100%, 0, 0)
		
		video
			set_size(100%, 10px auto, 0)

	@media (max-width 600px)
		.main
			font-size 10px
			line-height 1.5
			set_size(100%, 0, 20px)
			min-width 0

			nav
				ul
					flex-wrap: wrap

			.grid_container_index

				.text1
					set_position(1, 3, 1, 2)

				.text2
					set_position(1, 3, 3, 4)

				.img1
					set_position(1, 3, 2, 3)

				.video1
					set_position(1, 3, 4, 5)