extends template
block variables 
	-var active_page = "css_block"
	-var title = "css_block"
	-var reflist = {}
	-var textlist = ["Блочная модель может быть задана по-умолчанию, так и через свойство display значением block, flex, grid.","Состоит блочная модель из следующих структур: Content, Padding, Border, Margin", "У блочного элемент есть свойство float, позволяющее 'обтекать' другие элементы.","Значения свойства float: none, left, right"]
	-var imglist = ["img/box-model.png", "img/box-float.png"]
	-var videolist = []